<!DOCTYPE html>
{{ $header := .Site.Data.header }}
{{- $logoSrc := printf "images/%s" $header.logo | absURL -}}
<html lang="en-US">
  <head>
    <title>
 			{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}
    </title>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:700" rel="stylesheet">
    <link href="{{ "favicon.png" | absURL }}" rel="icon" />

    <!-- og -->
    <meta name="og:title" content="{{ .Title }}"/>
	<meta name="og:url" content="{{ .Permalink }}"/>
	{{ if .Params.featuredimage }}
	<meta name="og:image" content="{{ .Params.featuredimage | absURL}}"/>
	{{ end }}
	{{ if .Params.description }}
	<meta name="og:description" content="{{ .Params.description }}"/>
	{{ end }}
	<meta name="og:site_name" content="{{ .Site.Title }}"/>
		

    <!-- including bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css">
  </head>
  <body>
        
        {{ if .Scratch.Get "navbarType" }}
        
          {{ if eq (.Scratch.Get "navbarType") "transparent" }}
        
            <nav class="navbar nav-transparent navbar-expand-lg navbar-dark fixed-top">
              <!-- <div class="backdrop-blur"></div> -->
              <a class="navbar-brand" href="{{.Site.BaseURL}}"><img src="{{$logoSrc}}" height="40px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                 
                  {{ range $header.links }}
        
                      <li class="nav-item">
                        <a class="nav-link" href="{{.Site.BaseURL}}{{ .href }}">{{ .title }}</a>
                      </li>
                      
                    
                  {{ end }}
                </ul>
                <ul class="ml-auto navbar-nav">
                  
                    {{ range $key, $value := .Site.Data.social }}
                    <li class="nav-item" style="font-size: 22px">
                      <a href="https://{{ $key }}.com/{{ $value }}" class="ml-3 text-white btn-{{ $key }}"><i class="fab fa-{{ $key }}"></i></a>
                    </li>
                    {{ end }}
                  
                </ul>
              </div>
            </nav>
          {{ end }}
        {{ else }}
            <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white nav-shadow">
              <!-- <div class="backdrop-blur"></div> -->
              <a class="navbar-brand" href="/"><img src="{{$logoSrc}}" height="40px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                 
                  {{ range $header.links }}
        
                      <li class="nav-item">
                        <a class="nav-link" href="{{.Site.BaseURL}}{{ .href | relURL }}">{{ .title }}</a>
                      </li>
                    
                  {{ end }}
                </ul>
                <ul class="ml-auto navbar-nav">
                  
                    {{ range $key, $value := .Site.Data.social }}
                    <li class="nav-item" style="font-size: 22px">
                      <a href="https://{{ $key }}.com/{{ $value }}" class="ml-3 btn-{{$key}}"><i class="fab fa-{{ $key }}"></i></a>
                    </li>
                    {{ end }}
                  
                </ul>
              </div>
            </nav>    
        {{ end }}

  {{ $team := .Site.Data.team }}
  <section id="team" class="text-center py-5">
  <div class="container">
    <h2 class="pt-5 h2">{{ $team.title }}</h2>  
    <p class="text-muted pb-5">{{ $team.description }}</p>

    <div class="members row justify-content-md-center mt-5">
      {{ range $team.members }}
        <div class="col-12 col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 3rem; padding-left: 20px; padding-right: 20px;">
          <img data-toggle="tooltip" title="{{ .name }}" class="mb-3 teamAvatar" src="/images/team/{{.avatar }}" alt="{{ .name }}">
          <h4 class="h4">{{ .name }}</h4>
          <div class="text-muted">{{ .description }}</div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<style type="text/css">
  .teamAvatar{
    border: solid 6px #fff;
    transition: all 0.3s ease;
  }
  .teamAvatar:hover{
    transform: scale(1.06);
  }
</style>

        {{ $footer := .Site.Data.footer }}
        <section id="footer" class="py-3">
          <div class="container">
            <span class="text-muted">{{ $footer.footertext }}</span>
            <span class="float-right">
              {{ range $key, $value := .Site.Data.social }}
                <a href="https://{{ $key }}.com/{{ $value }}" class="ml-2 btn-{{$key}}"><i class="fab fa-{{ $key }}"></i></a>
              {{ end }}
            </span>
          </div>
        </section>


    
        {{ $code := .Site.Data.config.googleAnalytics }}
        {{ if $code }}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ $code }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', '{{ $code }}');
        </script>
        {{ end }}
      
  
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.4.0/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
      <script src="{{"js/script.js" | absURL }}"></script>
    </body>
  </html>
    
